@charset  'utf-8';
* {
    margin: 0px;
    padding: 0px;
}
h1 {
    padding: 3px;
    background-color: lightgray;
}
body {
    background-color: lightblue;
}
main {
    background-color: aqua;
    width: 600px;
    height: auto;
    margin: auto;
    padding-top: 50px;
}